.cart-product-container{
    background-color: white;
   
   
  
}

.product-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: .9em;
    margin-bottom: 50px;
}



.quantity-dropdown{
    width: 100%;
    align-self: flex-start;
    
    
}

.product-price{
    width: 100%;
    font-weight: bold;
}



.product-image{
    width: 40%;
    padding: 2%;
    align-self: center;
}

.remove-product{
    margin-left: auto;
    width: 75%;
    font-weight: 700;
    
   
}