
.checkout-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3%;
    height: 100%;
    
}


.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 55%;
    gap: 1%;
    background: linear-gradient(to left,  #f9f9f9 .5%, #FFFFFF 3%);
  
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    width: 100%;
    height: fit-content;
    overflow: hidden; 
    
}


.summary-container{
    display: flex;
    flex-direction: column;
    position: sticky;
    top:0;
    height: 100%;
    width: 40%;
    gap: 15%;
   
}


.summary-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 3%;
    border-bottom: 1px solid #DDDDDD;
    background-color: white;
    padding-bottom: 5%;
}

.product-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: sticky;
    top:0;
    max-height: 600px;
    margin-top: 3%;
   
}

.scroll-list{
    overflow-y: scroll;

}


.progress-steps{
    display: flex;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 2%;
    width: 90%;
    justify-content: space-between;
    
}

.progress-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: sticky;
    top:0;
    background: linear-gradient(to left,  #f9f9f9 .5%, #FFFFFF 3%);
  
}


#shipping-info-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 92%;
    text-align: left;
    margin-bottom: 8%;
    margin-top: 3%;
}


#checkout-list{
    list-style: none;
    text-align: left;
    margin-right: 35%;
}

.checkout-list-items{
    font-weight: bold;
    text-align: left;
    padding: 5px;
    
}