html, body{
    height: 100%;
    width: 100%;
}


.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container{
    color: white;
    background-image: url('C:\Users\shane\Documents\SkateEcom\skate-ecom-front-end\skate-ecom-front-end\skate-ecom-master\public\images\homeBkgrOne.jpg');
    min-height: 65vh;
    width: 100%;
    background-position-y: center;
    background-repeat:no-repeat;
    background-size: cover;
    margin-bottom: 2%;
    text-align: start;
      
}

.slogan{
    margin-left: 5%;
    width: fit-content;
    font-size:5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cards-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .1%;
    width: 90%;
  
}

.card-header{
    padding: 20px;
    font-weight: 700;
    background-color: black;
    color: white;
    width: 85%;
}