.products-page-container{
    display: flex;
    flex-direction: row;
    
}

.products-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    border-left: 2px solid black;
    
}

.decks-products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1%;
    margin-left: 10%;
    gap: 3%;

}

.trucks-products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1%;
    margin-left: 8%;
    gap: 3%;

}

.wheels-products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1%;
    margin-left: 6%;
    gap: 3%;

}

.bearings-products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1%;
    margin-left: 14%;
    gap: 3%;

}

.product-type-header{
    margin-top: 5%;
    margin-left: 5%;
    align-self: flex-start;
}

.sort-container{
    width: 20%;
}