#main-container{
    display: flex;
    flex-direction: column;
    padding: 3% 7%;
}


#nav-content-container{
    display: flex;
    justify-content: center;
}

#side-nav-list{
    width: 20%;
    
}

#current-active-content{
    display: flex;
    text-align: justify;
    width: 60%;
   
}

#nav-list{
    list-style: none;
    
}

.side-nav-list-item{
    font-weight: bold;
    margin-bottom: 5%;
}

.side-nav-list-item:hover{
    cursor: pointer;
}

.side-nav-list-item-icon{
    margin-right: 5%;;
}

#account-details{
    list-style: none;
    text-align: justify;
    padding: 0;
}